image: golang:1.14

before_script:
  - echo "Acquire::http::Proxy \"${HTTP_PROXY}\";" >> /etc/apt/apt.conf
  - echo "Acquire::https::Proxy \"${HTTPS_PROXY}\";" >> /etc/apt/apt.conf
  - git config --global http.proxy "${HTTP_PROXY}"
  - git config --global http."https://${GITLAB_SERVER}".proxy ""
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@${GITLAB_SERVER}".insteadOf "https://${GITLAB_SERVER}"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - cd $CI_PROJECT_DIR

variables:
  HTTPS_PROXY: "${HTTP_PROXY}"
  no_proxy: "${NO_PROXY}"
  DEBIAN_FRONTEND: "noninteractive"

stages:
  - build
  - test

test:
  stage: test
  tags:
    - go
    - privileged
  script:
    - echo "Acquire::http::Proxy \"${HTTP_PROXY}\";" >> /etc/apt/apt.conf
    - echo "Acquire::https::Proxy \"${HTTPS_PROXY}\";" >> /etc/apt/apt.conf
    - apt-get update && apt-get install -y dmidecode lsb-release libvirt-clients systemd
    - env GOOS=linux GOSUMDB=off GOPROXY=direct go test -cover ./...

compile:
  stage: build
  tags:
    - go
  script:
    - env GOOS=linux GOSUMDB=off GOPROXY=direct  go build ./...
